.whitecolor{
  color:white !important;
}
.greenbar{
  background-color: #7DC623 !important;
}

.imageseccion1{
  height: 10em;
  width: 10em;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.demotitle{
  color:#7DC623;
}

.graytitle{
  color:#6F7073;
}

.circles{
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.banner{
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.white{
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 1),rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 1),rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1),rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1),rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
    background-image: linear-gradient(left, rgba(255, 255, 255, 1),rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 1)', endColorstr='rgba(255, 255, 255, 0)', GradientType=1);
    padding: 2rem 0;
}
